# Arkadiusz Pytlik

In [1]:
# import
from sqlalchemy import create_engine, Column, Integer, String, Date, Float, SmallInteger, Text, ForeignKey
from sqlalchemy.ext.declarative import declarative_base

# połączenie z bazą
db_string = "postgresql://postgres:password@localhost:5432/lab12"

engine = create_engine(db_string)

Base = declarative_base()

In [2]:
# definiowanie tabel

class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    email = Column(String(50))
    
    def __repr__(self):
        return "<users(id='{0}', email={1})>".format(self.id, self.email)
    
    
class Host(Base):
    __tablename__ = 'hosts'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    
    def __repr__(self):
        return "<hosts(id='{0}', user_id={1})>".format(self.id, self.user_id)
    
    
class Booking(Base):
    __tablename__ = 'bookings'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    place_id = Column(Integer, ForeignKey('places.id'))
    start_date = Column(Date)
    end_date = Column(Date)
    price_per_night = Column(Float)
    num_nights = Column(Integer)
    
    def __repr__(self):
        return "<bookings(id='{0}', user_id={1}, place_id={2}, start_date={3}," \
                         "end_date={4}, price_per_night={5}, num_nights={6})>".format(
            self.id, self.user_id, self.place_id, self.start_date, self.end_date, self.price_per_night, self.num_nights)
    
    
class Review(Base):
    __tablename__ = 'rewievs'
    id = Column(Integer, primary_key=True)
    booking_id = Column(Integer, ForeignKey('bookings.id'))
    rating = Column(SmallInteger)
    review_body = Column(Text)
    
    def __repr__(self):
        return "<authors(id='{0}', booking_id={1}, rating={2}, review_body={3})>".format(
            self.id, self.booking_id, self.rating, self.review_body)
    
    
class Place(Base):
    __tablename__ = 'places'
    id = Column(Integer, primary_key=True)
    host_id = Column(Integer, ForeignKey('hosts.id'))
    address = Column(String(50))
    city_id = Column(Integer, ForeignKey('cities.id'))
    
    def __repr__(self):
        return "<authors(id='{0}', host_id={1}, address={2}, city_id={3})>".format(
            self.id, self.host_id, self.address, self.city_id)
    
    
class City(Base):
    __tablename__ = 'cities'
    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    country_id = Column(Integer, ForeignKey('countries.id'))
    
    def __repr__(self):
        return "<authors(id='{0}', name={1}, country_id={2})>".format(
            self.id, self.name, self.country_id)
    
    
class Country(Base):
    __tablename__ = 'countries'
    id = Column(Integer, primary_key=True)
    county_code = Column(String(50))
    name = Column(String(50))
    
    def __repr__(self):
        return "<authors(id='{0}', county_code={1}, name={2})>".format(
            self.id, self.county_code, self.name)

In [3]:
# tworzenie tabel
Base.metadata.create_all(engine)

W pliku relacje.jpg znajduje się schemat relacji stworzonych tabel.